<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="visma" translate="label" sortOrder="10">
            <label>Visma</label>
        </tab>
        <section id="clientagreement" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Client agreement page</label>
            <tab>visma</tab>
            <resource>Visma_PromoPage::promopage_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="display_agreement_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Agreement text</label>
                </field>
                <field id="agreement_url_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Text for agreement URL</label>
                </field>
                <field id="agreement_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Agreement URL</label>
                </field>
                <field id="popup_position" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Position of agreement popup</label>
                    <source_model>Visma\AgreementPopup\Model\Config\Source\PopupPosition</source_model>
                </field>
            </group>
        </section>
    </system>
</config>